.game {
  background: #3d4550;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

.title {
  color: #fff;
  display: block;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}
